/* ============================================
   INDEX HERO COMPONENT
   ============================================ */

.index-hero {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  @media (--sm) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--space-sm);
  }
}

.index-hero__profile-image {
  display: none;

  @media (--sm) {
    display: block;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    align-self: stretch;
  }

  picture {
    display: block;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.index-hero__header {
  @media (--sm) {
    grid-column: 5 / 13;
  }
}

.index-hero__title {
  margin-bottom: var(--space-md);
  @media (--sm) {
    grid-column: 5 / 13;
  }
}

.index-hero__intro {
  @media (--sm) {
    grid-column: 5 / 13;
  }
}
