.index-hero {
  display: grid;

  @media (min-width: 64rem) {
    /* margin-left: -220px; */
    display: grid;
    margin-block-end: var(--fluid-space-32-48);
    grid-template-columns: 7rem 1fr;
    column-gap: var(--fluid-space-48-64);
    grid-template-areas:
      "img header"
      "img title"
      "img intro";
  }
}

.index-hero__header {
  @media (min-width: 64rem) {
    grid-area: header;
  }
}

.index-hero__title {
  @media (min-width: 64rem) {
    grid-area: title;
  }
}

/** {
  overflow: visible;
}*/

.index-hero__profile-image {
  /* width: 75vw; */
  /*position: absolute;
  width: 300px;
  height: 300px;
  max-height: 100%;
  top: 0;
  right: 0;
  border: 4px solid blue;*/

  @media (min-width: 64rem) {
    /* order: -1;
    grid-area: img;
    width: auto;
    position: relative; */
  }

  img,
  picture {
    display: block;
    height: 100%;
    object-fit: cover;
    /* width: 100%;
    height: 100%; */
    /* object-fit: contain; */
  }

  /* img {
    max-height: 8rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -2rem;
    margin-block: var(--fluid-space-24-32);
  } */

  /* picture {
       position: relative;
  }

  picture,
  img {
    @media (min-width: 64rem) {
      overflow: visible;
      border: 3px solid yellow;
      width: 300px;
      height: 200px;
      max-height: 100%;
      object-position: unset;
      border: 2px solid blue;
      object-fit: unset;
      margin-block: 0;
    }
  }

  img {
    @media (min-width: 64rem) {

      position: absolute;
      right: 0;
      top: 0;
      overflow: visible;
    }
  } */
}

.index-hero__intro {
  @media (min-width: 64rem) {
    grid-area: intro;
  }
}
