/* ============================================
   SEARCH COMPONENT
   ============================================ */

@import "@pagefind/default-ui/css/ui.css";

:root {
	--pagefind-ui-font: inherit;
}

.search {
	margin-inline-start: auto;
}

.search__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.25rem;
	height: 2.25rem;
	padding: 0;
	background: transparent;
	border: none;
	border-radius: 0.375rem;
	color: var(--color-text);
	transition: color 0.2s ease;

	&:hover {
		color: var(--color-accent);
	}
}

.search__icon {
	width: 1.75rem;
	height: 1.75rem;
}

.search__dialog {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	border: 1px solid var(--color-zinc-400);
	background-color: var(--color-bg);
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

	&::backdrop {
		backdrop-filter: blur(4px);
	}

	&[open] {
		display: flex;
	}

	@media (min-width: 40rem) {
		width: 83.333333%;
		max-width: 48rem;
		height: max-content;
		max-height: calc(100% - 8rem);
		min-height: 15rem;
		margin: 4rem auto auto;
		border-radius: 0.375rem;
	}
}

.search__dialog-frame {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: var(--space-16);
	padding: var(--space-24);
	padding-block-start: var(--space-12);

	@media (min-width: 40rem) {
		padding-block-start: var(--space-24);
	}
}

.search__close-button {
	margin-inline-start: auto;
	padding: var(--space-8);
	background-color: var(--color-zinc-200);
	border: none;
	border-radius: 0.375rem;
	font-weight: var(--font-medium);
	cursor: pointer;

	html[data-theme="dark"] & {
		background-color: var(--color-zinc-700);
	}
}

.search__dev-message {
	margin-inline: auto;
	text-align: center;
}

/* Pagefind customization */
#cactus__search {
	--pagefind-ui-primary: var(--color-accent);
	--pagefind-ui-text: var(--color-text);
	--pagefind-ui-background: var(--color-zinc-100);
	--pagefind-ui-border: var(--color-zinc-300);
	--pagefind-ui-border-width: 1px;

	html[data-theme="dark"] & {
		--pagefind-ui-background: var(--color-zinc-800);
		--pagefind-ui-border: var(--color-zinc-500);
	}
}

#cactus__search .pagefind-ui__search-clear {
	width: calc(60px * var(--pagefind-ui-scale));
	padding: 0;
	background-color: transparent;
	overflow: hidden;

	&:focus {
		outline: 1px solid var(--color-accent-2);
	}

	&::before {
		content: "";
		-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12'%3E%3C/path%3E%3C/svg%3E")
			center / 60% no-repeat;
		mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12'%3E%3C/path%3E%3C/svg%3E")
			center / 60% no-repeat;
		background-color: var(--color-accent);
		display: block;
		width: 100%;
		height: 100%;
	}
}

#cactus__search .pagefind-ui__result {
	border: 0;
}

#cactus__search .pagefind-ui__result-link {
	background-size: 100% 6px;
	background-position: bottom;
	background-repeat: repeat-x;
	background-image: linear-gradient(
		transparent,
		transparent 5px,
		var(--color-text) 5px,
		var(--color-text)
	);

	&:hover {
		text-decoration: none;
		background-image: linear-gradient(
			transparent,
			transparent 4px,
			var(--color-link) 4px,
			var(--color-link)
		);
	}
}

#cactus__search mark {
	color: var(--color-quote);
	background-color: transparent;
	font-weight: var(--font-medium);
}
