.separator {
  height: var(--separator-size);
}

.separator--responsive {
  height: var(--separator-size-mobile);

  @media (--lg) {
    height: var(--separator-size-desktop);
  }
}

.separator--border {
  display: flex;
  align-items: center;

  &::after {
    content: "";
    width: 100%;
    border-block-end: 1px solid var(--color-gray-300);

    html[data-theme="dark"] & {
      border-color: var(--color-gray-700);
    }
  }
}
