/* ============================================
   COLOR TOKENS
   ============================================ */

:root {
  /* Base colors */
  --color-bg: hsl(0, 0%, 98%);
  --color-text: hsl(203, 11.03%, 15%);
  --color-text-dimmed: hsl(203, 8%, 40%);
  --color-link: var(--color-text);
  --color-accent: var(--color-accent-2);
  --color-accent-2: hsl(0, 0%, 18.15%);
  --color-quote: var(--color-accent-2);

  /* Semantic grays */
  --color-gray-100: hsl(0, 0%, 98%);
  --color-gray-200: hsl(0, 0%, 95%);
  --color-gray-300: hsl(0, 0%, 88%);
  --color-gray-400: hsl(0, 0%, 70%);
  --color-gray-500: hsl(0, 0%, 50%);
  --color-gray-600: hsl(0, 0%, 40%);
  --color-gray-700: hsl(0, 0%, 30%);
  --color-gray-800: hsl(0, 0%, 20%);

  /* Admonition colors */
  --color-blue-400: hsl(199.18, 100%, 43.99%);
  --color-lime-500: hsl(86.92, 45.44%, 47.52%);
  --color-purple-400: hsl(251, 64.94%, 68.94%);
  --color-orange-400: hsl(23.1, 77.62%, 57.35%);
  --color-red-500: hsl(359.22, 71.52%, 55.23%);
}

/* Dark theme */
html[data-theme="dark"] {
  --color-bg: hsl(210, 6.03%, 12%);
  --color-text: hsl(0, 0%, 83.54%);
  --color-text-dimmed: hsl(0, 0%, 65%);
  --color-link: var(--color-text);
  --color-accent: var(--color-accent-2);
  --color-accent-2: hsl(0, 0%, 94.66%);
  --color-quote: var(--color-accent-2);

  --color-gray-600: hsl(0, 0%, 70%);
  --color-gray-400: hsl(0, 0%, 60%);
}
