/* ============================================
   MAIN STYLESHEET
   Modern CSS Architecture
   ============================================ */

/* Settings - Design tokens */
@import "./00-settings/_breakpoints.css";
@import "./00-settings/_colors.css";
@import "./00-settings/_typography.css";
@import "./00-settings/_spacing.css";
@import "./00-settings/_fluid.css";
@import "./00-settings/_radius.css";

/* Utilities - Helper classes */
@import "./01-utilities/_display.css";
@import "./01-utilities/_text.css";

/* Generic - Resets and base styles */
@import "./02-generic/_reset.css";
@import "./02-generic/_base.css";

/* Elements - Base element styles */
@import "./03-elements/_typography.css";
@import "./03-elements/_prose.css";
@import "./03-elements/_admonition.css";
@import "./03-elements/_github-card.css";

/* Layouts - Page structure */
@import "./04-layouts/_grid.css";
@import "./04-layouts/_blog-post.css";

/* Themes - Alternative style themes */
@import "./06-themes/_motherfuckingwebsite.css";
