/* ============================================
   MAIN LAYOUT
   ============================================ */

.section {
	margin-block-start: var(--space-800);

	&:first-child {
		margin-block-start: 0;
	}
}

.section__title {
	margin-block-end: var(--space-300);
	font-size: var(--fluid-text-h2);
	line-height: var(--leading-h2);
	font-weight: var(--font-medium);
	color: var(--color-accent-2);

	& a {
		color: var(--color-accent);
	}
}

.section__title--large {
	font-size: var(--fluid-text-h1);
	line-height: var(--leading-h1);
}

.section__title--small {
	font-size: var(--fluid-text-base);
	line-height: var(--leading-base);
}

/* List layouts */
.list {
	display: flex;
	flex-direction: column;
	gap: var(--space-200);
	list-style: none;
	padding: 0;
}

.list--spaced {
	gap: var(--space-300);
}

.list-item {
	display: grid;
	gap: var(--space-50);

	@media (min-width: 40rem) {
		grid-template-columns: auto 1fr;
	}
}
